html, body {
    height: 100%;
    background-color: black;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.title-bar, .off-canvas {
    font-size: 1em;
    background-color: #000000;
    color: #999999;
}

.off-canvas {
    padding-top: calc(1em*1.5 + 2*0.5rem);
}

#location-filter {
    /*needed to override Foundation default border radius on input groups*/
    border-radius: 0;
}

.location-item {
    font-size: 1.1em;
}

.location-item:hover {
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.off-canvas-content {
    height: 100%;
    width: 100%;
}

.off-canvas-wrapper {
    height: 100%;
}


/*Used to allow 100%W/H on google map*/

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}


/* selector to override google maps infowindow img=default max-width:none */

#infowindow-img {
    max-width: 100%;
    max-height: 400px;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
}
